@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/GenralMasterPage.cshtml";
}

<div class="row" style="min-height:20px;"></div>
<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-2"></div>
        <div class="col-sm-9" style="min-height:300px;border:1px solid maroon;">
            <div class="col-sm-12  text text-center"  style="min-height:30px;background-color:maroon;">
                <label style="margin-top:10px; color:white; font-family: 'Bell MT';font-size:25px;font-weight:100;">Registration Form</label>
            </div><br />
            <div class="col-sm-12">
                <form action="/Home/Registration" method="post" enctype="multipart/form-data">
                <div class="col-sm-4">
                    <label style=" color:Maroon; font-family: 'Bell MT';font-size:20px;">Name</label>
                    <input type="text" class="form-control" placeholder="Enter Name Here" name="txtname" />
                    <label style=" color:Maroon; font-family: 'Bell MT';font-size:20px;">Father_Name</label>
                    <input type="text" class="form-control" placeholder="Enter Father_Name Here" name="txtfname"/>
                    <label style=" color:Maroon; font-family: 'Bell MT';font-size:20px;">Email</label>
                    <input type="email" name="txtemail" class="form-control" placeholder="Enter Email Here" />
                    <label style=" color:Maroon; font-family: 'Bell MT';font-size:20px;">Mobile</label>
                    <input type="number" name="txtmobile" class="form-control" placeholder="Enter Mobile Here" />
                    <label>Captcha Code</label>
                    <input type="text" name="txtcph" class="form-control" readonly value="@ViewBag.cph" style="width:50%;color:orangered;font-size:20px"><br />
                </div>
                <div class="col-sm-4">
                    <label style=" color:Maroon; font-family: 'Bell MT';font-size:20px;">Branch</label>

                    <select class="form-control" name="ddlbranch">
                        <option value="Branch">----- Select Branch-----</option>
                        <option value="Branch"> Computer Science &Engineering </option>
                        <option value="Branch"> Information Technology</option>
                        <option value="Branch"> Civil Engineering</option>
                        <option value="Branch"> Electrical Engineering</option>
                        <option value="Branch"> Electronic  Engineering</option>
                    </select>
                    <label style=" color:Maroon; font-family: 'Bell MT';font-size:20px;">Password</label>
                    <input type="password" class="form-control" name="txtpassword" placeholder="Enter Password Here" />
                    <label style=" color:Maroon; font-family: 'Bell MT';font-size:20px;">Confirm_Password</label>
                    <input type="password" class="form-control" placeholder="Enter Confirm_Password Here" name="txtcpassword"/>
                    <label style=" color:Maroon; font-family: 'Bell MT';font-size:20px;">Gender</label>
                       <select class="form-control" name="ddlgender">
                        <option value="Branch">----- Select Gender-----</option>
                        <option value="Branch"> Mail </option>
                        <option value="Branch"> Femail</option>
                        <option value="Branch"> Other</option>
                       
                    </select>
                    <label>Enter Captcha Code</label>
                    <input type="text" class="form-control" name="txtcaptcha"/>
                 </div>
                <div class="col-sm-4">
                    <label style=" color:Maroon; font-family: 'Bell MT';font-size:20px;">Year</label>
                    <select class="form-control" name="ddlyear">
                        <option value="Branch">----- Select Year-----</option>
                        <option value="Branch"> 1st Year </option>
                        <option value="Branch"> 2nd Year</option>
                        <option value="Branch"> 3rd Year</option>
                        <option value="Branch"> 4th Year</option>

                    </select>
                    <label style=" color:Maroon; font-family: 'Bell MT';font-size:20px;">Address</label>
                    <input type="text" class="form-control" name="txtaddress" placeholder="Enter Address  Here" />
                    <label style=" color:Maroon; font-family: 'Bell MT';font-size:20px;">Sport_Type</label>
                    <select class="form-control" name="ddltype">
                        <option value="Branch">----- Select Sport_Type-----</option>
                        <option value="Branch"> Badmintion</option>
                        <option value="Branch"> 50m Race</option>
                        <option value="Branch"> 100m Race</option>
                        <option value="Branch"> Long Jump</option>
                        <option value="Branch"> High Jump</option>

                    </select>
                    <label style=" color:Maroon; font-family: 'Bell MT';font-size:20px;">Image</label>
                    <input type="file" class="form-control" name="fupic"/>
                    <br />
                    <input type="submit" value="Register Now" class="form-control btn btn-success" />
                    <br />
                    <br />
                  </div>
                    </form>
                <br />
              
            </div>
           <br />
        </div>

        <div class="col-sm-1"></div>
    </div>
</div>
<br />