<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/hover-min.css" rel="stylesheet" />
    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="conatiner-fluid">
        <div class="row" style="min-height:40px;background-color:maroon;">
            <div class="col-sm-12">
                <div class="col-sm-2">
                    <span style="font-family:'Bell MT';font-size:20px;color:white;margin-top:10px;">8400977900,9005221248</span>
                </div>
                <div class="col-sm-8 text text-center">
                    <span style="font-family:'Bell MT';font-size:20px;color:white;margin-top:10px;">welcome in sport management System</span>
                </div>
                <div class="col-sm-2">
                    <span style="font-family:'Bell MT';font-size:18px;color:white;margin-top:10px;">08/09/2020</span>
                </div>
            </div>

        </div>
        <div class="row" style="min-height:100px;">
            <div class="col-sm-12">
                <div class="col-sm-2">
                    <img src="~/Content/Image/govlogo.png" style="height:80px;width:90%;margin-top:4.5%" />
                </div>
                <div class="col-sm-8">
                    <label style="font-family: 'Bell MT'; margin-top:15px; font-size: 18px; color: maroon; margin-top: 10px;">कुमारी मायावती राजकीय महिला पॉलिटेक्निक बादलपुर</label><br />
                    <span style="font-family: 'Bell MT'; font-size: 22px; color: maroon; margin-top: 10px; " >KM MAYAWATI GOVT GIRLS POLYTECHNIC BADALPUR</span><br />
                    <span style="font-family: 'Bell MT'; font-size: 18px; color: maroon; margin-top: 10px; " ">Sport Management System</span>
                </div>
                <div class="col-sm-2">
                    <span class="fa fa-facebook-square" style="font-size:30px;color:orangered;margin-top:10px;margin-top:18px; "></span>
                    <span class="fa fa-instagram" style="margin-left: 10px; font-size: 30px; color: maroon; margin-top: 10px; margin-top: 20px; "></span>
                    <span class="fa fa-whatsapp" style="margin-left:10px; font-size:30px;color:green;margin-top:10px;margin-top:20px; "></span>
                    <span class="fa fa-twitter" style="margin-left: 10px; font-size: 30px; color: blue; margin-top: 10px; margin-top: 20px; "></span>

                </div>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-inverse" style="background-color:maroon">
                <div class="container-fluid">
                    <div class="navbar-header">

                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="/Home/Index" style="margin-left:120px;font-family:'Times New Roman';font-size:17px;color:white;">HOME</a></li>
                        <li><a href="/Home/AboutUs" style="font-family:'Times New Roman';font-size:17px;color:white;">ABOUT US</a></li>
                        <li><a href="/Home/Registration" style="font-family:'Times New Roman';font-size:17px;color:white;">REGISTRATION</a></li>
                        <li><a href="/Home/Gallery" style="font-family:'Times New Roman';font-size:17px;color:white;">GALLERY</a></li>
                        <li><a href="/Home/Login" style="font-family:'Times New Roman';font-size:17px;color:white;">LOGIN</a></li>
                        <li><a href="/Home/ContactUs" style="font-family:'Times New Roman';font-size:17px;color:white;">CONTACT US</a></li>
                        <li><a href="/Home/UpComingEvent" style="font-family:'Times New Roman';font-size:17px;color:white;">UPCOMING EVENTS</a></li>
                        <li><a href="/Home/Notification" style="font-family:'Times New Roman';font-size:17px;color:white;">NOTIFICATION</a></li>
                    </ul>
                    
                </div>
            </nav>
        </div>


        <div>
            @RenderBody()
        </div>
      
        <div class="row" style="min-height:250px;background-color:maroon;">
            <div class="col-sm-12">
                <div class="col-sm-3 text text-center">
                    <label style="margin-top:10px; color:white; font-family: 'Bell MT';font-size:30px;">Importance Links</label>
                    <p style="color:white; font-family: 'Bell MT';font-size:25px;">→Aktu.ac.in</p>
                    <p style="color:white; font-family: 'Bell MT';font-size:25px;">→Bteup.in</p>
                    <p style=" color:white; font-family: 'Bell MT';font-size:25px;">→up.gov.in</p>
                    <p style=" color:white; font-family: 'Bell MT';font-size:25px;">→apinfotech.org</p>

                </div>
                <div class="col-sm-6">
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3558.2758959299854!2d80.95136231452024!3d26.894737767339393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399957162f9814a1%3A0xcf1a2d0fc9abd3c7!2sArcane%20programming%20infotech!5e0!3m2!1sen!2sin!4v1599719645020!5m2!1sen!2sin" width="400" height="250" frameborder="0" style="border:2px solid maroon;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                </div>
                <div class="col-sm-3 text text-center">
                    <p style="margin-top:10px; color:white; font-family: 'Bell MT';font-size:30px;">Address</p>
                    <p style="color:white; font-family: 'Bell MT';font-size:25px;">→MM 45</p>
                    <p style=" color:white; font-family: 'Bell MT';font-size:25px;">Sector-L</p>
                    <p style=" color:white; font-family: 'Bell MT';font-size:25px;">Aliganj,Lucknow</p>
                </div>
            </div>
        </div>
        <div class="row text text-center"  style="min-height:50px;background-color:black;">
            <label style="margin-top:10px; color:white; font-family: 'Bell MT';font-size:25px;font-weight:100;">Copyright ©By Arcane Programming Infotech Lucknow</label>
        </div>
    </div>
</body>
</html>
