@{
    ViewBag.Title = "Changepassword";
    Layout = "~/Views/Shared/StudentMasterPage.cshtml";
}

<div class="row text text-center" style="min-height:20px;">
<label style="margin-top:10px; color:Maroon; font-family: 'Bell MT';font-size:25px;font-weight:100;">ChangePassword</label>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" style="border:1px solid maroon">
            <form action="/Student/Changepassword" method="post">
                <label style=" color:Maroon; font-family: 'Bell MT';font-size:20px;">Old Password</label>
                <input type="password" class="form-control" placeholder="Enter Old Password " name="txtold" />
                <label style=" color:Maroon; font-family: 'Bell MT';font-size:20px;">New Password</label>
                <input type="password" class="form-control" placeholder="Enter New Password" name="txtnew" />
                <label style=" color:Maroon; font-family: 'Bell MT';font-size:20px;">Confirm Password</label>
                <input type="password" class="form-control" placeholder="Enter Confirm Password" name="txtcpass" />
                <br />
                <input type="submit" class="btn btn-success" value="ChangePassword" /><br /><br />
            </form>  
</div>
        <div class="col-sm-4"></div>
    </div>
</div>
<hr />