@{
    ViewBag.Title = "Complain";
    Layout = "~/Views/Shared/StudentMasterPage.cshtml";
}


<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-2"></div>
        <div class="col-sm-9">
            <div class="col-sm-12 text text-center" style="min-height:20px;">
                <label style="margin-top:10px; color:Maroon; font-family: 'Bell MT';font-size:30px;font-weight:100;">Complain</label>
                <div class="col-sm-12 panel panel-body" style="border:2px solid teal;box-shadow:0px 0px 30px 0px teal">
                    <div class="col-sm-6">
                        <input type="text" class="form-control"/><br />
                        <input type="text" class="form-control" /><br />
                        <input type="text" class="form-control" /><br />
                    </div>
                    <div class="col-sm-6">
                        <textarea class="form-control" style="height:150px">Enter Complain</textarea><br /><br />
                        <input type="submit" value="Complain" class="btn btn-danger"/>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>